

<div class="row mt-2 justify-context-md-center">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          You loved the <%= @dish.name %> at...
          <div class="badge badge-primary float-right">
                <% if @dish.cuisine.present? %>
                <%= @dish.cuisine.name %>
                <% end %>
          </div>
        </h4>
      </div>
      
      <ul class="list-group">
         <li class="list-group-item">
          <form action="/create_bookmark" method="post">
         <!--Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  
         <!--Label and input for dish_id -->
        <input type="hidden" name="dish_id" value="<%= @dish.id %>">
  
         <!--Label and input for venue_id -->
        <div class="form-group">
          <label for="venue_id" class="control-label">
            
          </label>
  
          <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all.order(:name), :id, :name), :class => "form-control") %>
          
        </div>
  
         <!--Label and input for user_id -->
        <input type="hidden" name="user_id" value="<%= current_user.id %>">
                
        <button class="btn btn-primary btn">
          <i class="fa fa-heart"></i>
        </button>
      </form>
      <small class="float-right text-muted">
        right now
      </small>
        </li>
        
        <!--bookmarks attempts-->
        
        <% Bookmark.where(:dish_id => @dish.id).each do |bookmark| %>
        <li class="list-group-item">
          <p>
            <a href="/venues/<%= bookmark.venue_id %>">
              <% Venue.where(:id => bookmark.venue_id).each do |name| %>
              <%= name.name %>
            </a>
            
            <small class="float-right text-muted">
              <%=time_ago_in_words(bookmark.created_at) %> ago
              
              <a href="https://final-project-jenjenmckinney.c9users.io/bookmarks/<%= bookmark.id %>/edit">
                <i class="fa fa-fw fa-edit"></i>
              </a>
              
              <a href="https://final-project-jenjenmckinney.c9users.io/delete_bookmark/<%= bookmark.id %>">
                <i class="fa fa-fw fa-trash-o"></i>
              </a>
          </p>
          <% end %>
        </li>
          
          </small>
          </p>
        </li>
      <% end %>
          
      </ul>
      
      <div class="card-footer text-center">
        <a href="/dishes" class="btn btn-block btn-secondary">
          <i class="fa fa-chevron-left"></i>
        </a>
      </div>
    </div>
  </div>
</div>





